* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('https://cdn.pixabay.com/photo/2016/05/24/16/48/mountains-1412683_1280.png');

  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
